[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/ComfyUI-Custom-Scripts"]
	path = custom_nodes/ComfyUI-Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts.git
[submodule "custom_nodes/ComfyUI-WD14-Tagger"]
	path = custom_nodes/ComfyUI-WD14-Tagger
	url = https://github.com/pythongosssss/ComfyUI-WD14-Tagger.git
[submodule "custom_nodes/ComfyUI-Inspire-Pack"]
	path = custom_nodes/ComfyUI-Inspire-Pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack.git
[submodule "custom_nodes/ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack.git
[submodule "custom_nodes/ComfyUI_InstantID"]
	path = custom_nodes/ComfyUI_InstantID
	url = https://github.com/cubiq/ComfyUI_InstantID.git
[submodule "custom_nodes/ComfyUI_LayerStyle"]
	path = custom_nodes/ComfyUI_LayerStyle
	url = https://github.com/chflame163/ComfyUI_LayerStyle.git
[submodule "custom_nodes/ComfyUI-VideoHelperSuite"]
	path = custom_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite.git
[submodule "custom_nodes/ComfyUI-Frame-Interpolation"]
	path = custom_nodes/ComfyUI-Frame-Interpolation
	url = https://github.com/Fannovel16/ComfyUI-Frame-Interpolation.git
[submodule "custom_nodes/ComfyUI-Marigold"]
	path = custom_nodes/ComfyUI-Marigold
	url = https://github.com/kijai/ComfyUI-Marigold.git
[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "custom_nodes/ComfyUI-Advanced-ControlNet"]
	path = custom_nodes/ComfyUI-Advanced-ControlNet
	url = https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet.git
[submodule "custom_nodes/ComfyUI-AnimateDiff-Evolved"]
	path = custom_nodes/ComfyUI-AnimateDiff-Evolved
	url = https://github.com/Kosinkadink/ComfyUI-AnimateDiff-Evolved.git
[submodule "custom_nodes/efficiency-nodes-comfyui"]
	path = custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/jags111/efficiency-nodes-comfyui.git
[submodule "custom_nodes/ComfyUI_IPAdapter_plus"]
	path = custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus.git
[submodule "custom_nodes/rgthree-comfy"]
	path = custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy.git
[submodule "custom_nodes/comfyui_segment_anything"]
	path = custom_nodes/comfyui_segment_anything
	url = https://github.com/storyicon/comfyui_segment_anything.git
[submodule "custom_nodes/comfyui-prompt-reader-node"]
	path = custom_nodes/comfyui-prompt-reader-node
	url = https://github.com/receyuki/comfyui-prompt-reader-node.git
[submodule "custom_nodes/OneButtonPrompt"]
	path = custom_nodes/OneButtonPrompt
	url = https://github.com/AIrjen/OneButtonPrompt.git
[submodule "custom_nodes/ComfyUI_Comfyroll_CustomNodes"]
	path = custom_nodes/ComfyUI_Comfyroll_CustomNodes
	url = https://github.com/Suzie1/ComfyUI_Comfyroll_CustomNodes.git
[submodule "custom_nodes/ComfyUI-Crystools"]
	path = custom_nodes/ComfyUI-Crystools
	url = https://github.com/crystian/ComfyUI-Crystools.git
[submodule "custom_nodes/comfyui-portrait-master"]
	path = custom_nodes/comfyui-portrait-master
	url = https://github.com/florestefano1975/comfyui-portrait-master.git
[submodule "custom_nodes/comfyui-inpaint-nodes"]
	path = custom_nodes/comfyui-inpaint-nodes
	url = https://github.com/Acly/comfyui-inpaint-nodes.git
[submodule "custom_nodes/comfyui-tooling-nodes"]
	path = custom_nodes/comfyui-tooling-nodes
	url = https://github.com/Acly/comfyui-tooling-nodes.git
[submodule "custom_nodes/ComfyUI_UltimateSDUpscale"]
	path = custom_nodes/ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale.git
